/*For decorating Tables*/
.tab1
{
width:50%;
text-align:center;
background-color:#D9D3D8;
font-size:18px
}
.tab2
{
margin-top:35px;
width:50%;
text-align:center;
background-color:#D9D3D8;
font-size:18px
}